.FooterParent {
  padding: 40px 120px;
  width: 100%;
  min-height: 270px;
  background: url("../../../../public/Images/FooterImages/footerbg.jpg");
  /* background: url("https://images.unsplash.com/photo-1493134799591-2c9eed26201a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"); */

}
.footeremail {
  font-size: 20px;
  color: #fdd41d !important;
}
.Footer1 {
  display: flex;
  justify-content: space-between;
  
}
.Footer2 {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Footer2 > * {
  color: white;
}
.footerpara {
  padding: 40px;
  text-align: center;
  color: white;
}
.footergoldenpara {
  color: #fdd41d;
}
